---
---

body {
  font-family: sans-serif;
  width: 100%;
  margin: 0px;
}

#widget {
  position: relative;
  // margin-top: 10px;
  width: 100%;

  border-style: solid;
  border-color: #D1D1D1;
  border-width: 1px 0px;
}

#graph {
  float: left;
  z-index: -1;

  // width: 80%;
  // height: 350px;
}
#stats {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  width: 180px;
  text-align: right;
}

#stats strong {
  font-weight: normal;
  font-size: 16pt;
}

#stats .num {
  padding-top: 5px;
  font-size: 18pt;
  color: rgb(70, 145, 231);
}

.clear {
  clear: both;
}

.sep {
  clear: both;
  height: 2px;
}

.modeChange {
  color: blue;
  font-size: 18pt;
}
.modeChange:visited {
  color: blue;
}

.time {
  float:left;
  position: absolute;
  top: 15px;
  font-size: 20pt;
  z-index: 500;
}

.time-field {
  border-color: rgb(189, 195, 199);
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  box-sizing: border-box;
  color: rgb(52, 73, 94);
  font-size: 18pt;
  height: 37px;
  line-height: 22.0049991607666px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  width: 80px;
  text-align: center;
}

.date-entry {
  position: relative;
}

.date-entry .time-field {
  width: 100px;
}

.date-months {
  font-size: 9pt;
  position: absolute;
  width: 100px;
  text-align: center;
  left: 0px;
  top: 37px;
}

.date-months a {
  text-decoration: none;
  color: rgb(194, 194, 194);
}

.date-months .cur-month {
  color: rgb(235, 132, 132);
}

select {
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: 97% center;

  border: solid #cccccc;
  border-width: 0px 1px;
  border-radius: 0px;


  padding: 0.2rem;
  font-size: 12pt;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  height: 35px;
  margin: 0px;
}

select:hover {
    /*background-color: #f3f3f3;*/
    border-color: #999999;
}

select:active {
  font-size: 18pt !important;
}

select.top-row {
  font-size: 16pt;
  padding-left: 8px;
  height: 60px;
}

select.titleSet {
  font-size: 22pt;
  // font-weight: bold;
  float: left;
  /*margin-bottom: 8px;*/
  width: 50%;
}

#overlay-form {
  float: right;
}

.top-label {
  font-size: 16pt;
  color: gray;
}

.notes {
  padding-top: 10px;
  clear: both;
}

#footer {
  margin-top: 10px;
}

@import 'infobutton'
